<!-- Side Bar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;"
	id="mySidebar">
	<!-- Logo -->
	<img src="assets/logo.jpg" style="width:50px;height:60px; margin-bottom: 20px;" class="center">
	<!-- Sidebar Links -->
	<a class="w3-bar-item w3-button" routerLink="/project" [ngClass]="{'w3-teal': (active === '/project')}"> <i
			class="w3-medium fa fa-user"></i> Project List</a>
	<a class="w3-bar-item w3-button" routerLink="/project-add" [ngClass]="{'w3-teal': (active === '/project-add')}"> <i
			class="w3-medium fa fa-plus"></i> Add New Project</a>
	<a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i> Logout</a>
</nav>

<!-- Load main contents -->
<div class="w3-main" style="margin-left:250px;">
	<div class="w3-container">
		<!-- Initiate Child Routing -->
		<router-outlet></router-outlet>
	</div>
</div>